@model PageSettingViewModel

<div class="">
    @Html.PageTitle($"Edit {Model.MenuInfo.Name}")
    @Html.Partial("_EditMenuInfo", Model.MenuInfo)
</div>
@section styles{
    <link rel="stylesheet" href="~/lib/switchery/dist/switchery.css"/>
}

@section scripts{ 
<script src="~/lib/switchery/dist/switchery.js"></script>
}
